
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToLoginPage</title>
</head>
<body>
    <div>
        <img src="~/img/pic.jpg"style="width:100px; height:100px" />
        <div>恭喜你激活成功，前往<a href="/Login/LoginPage" style="color:red">登录</a></div> 
    </div>
</body>
</html>
